.env
# npm
node_modules
node_modules/
npm-shrinkwrap.json
*.log
*.gz

# Yarn
yarn-error.log
yarn.lock

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Local API test outputs
test_output.json
comparison_output.json
test-stream.js

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
